
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
            <br>
			<div class="signup">

			</div>


					<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					{{ form.login }}
					{{ form.password }}
					<button>Login2</button>
				</form>
			</div>
	</div>
{% endblock %}

