
{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
            <br>
			<div class="signup">

			</div>


			<div class="login">
				<form>
					  {% csrf_token %}
                      {{ form }}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}

                      <button class="primaryAction" type="submit">CADASTRAR</button>
				</form>
			</div>
	</div>

{% endblock %}
