{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

<div class="row">
    <div class="col-12">

        <h1>Novo pedido</h1>
        <h3 style="font-color:gren">Total: {{ venda.valor }}</h3>

        {% if venda.status == 'DC' %}
             <div class="alert alert-primary" role="alert">
                {{ status }}
             </div>

         {% elif venda.status == 'AB'  %}
            <div class="alert alert-info" role="alert">
                {{ status }}
            </div>

        {% elif venda.status == 'FC' %}
            <div class="alert alert-success" role="alert">
                 {{ status }}
            </div>

        {% elif venda.status == 'PR'  %}
            <div class="alert alert-warning" role="alert" STYLE="backgroun-color:red">
                 {{ status }}
            </div>

        {% endif %}


        <form method="POST" action="{% url 'novo-pedido' %}">
            {% csrf_token %}
            <h2>Cabecalho pedido numero: {{ venda.numero }}</h2>
            <input type="text" name="numero" class="form-control" value="{{numero}}">

            <label for="desconto">Desconto</label><br>
            <input type="text" name="desconto" id="desconto" value="{{desconto}}"
                   placeholder="Desconto" class="form-control">

            <input type="hidden" value="{{venda.id}}" name="venda_id">

            <br>
            <button type="submit" class="btn btn-main">Enviar</button>
        </form>
        <br>
    </div>
</div>
{% endblock %}

{% block extra %}

{% if venda %}
    {% if mensagem %}
    <h3>{{ mensagem }}</h3>
    {% endif %}
    <form action="{% url 'novo-item-pedido' venda.id %}" method="POST">
        {% csrf_token %}
        {{ form_item|bootstrap }}
        <button class="btn btn-info">Incluir</button>
    </form>

    <h2>Listagem de itens</h2>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descricao</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Desconto</th>
            <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>
        {% for item in itens %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.produto.descricao }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.desconto }}</td>
                <th scope="col">
                    <a href="{% url 'edit-item-pedido' item.id%}"><i class="fa fa-pencil"></i> </a>
                </th>
                <th scope="col">
                    <a href="{% url 'delete-item-pedido' item.id%}"><i class="fa fa-window-close"></i></a>
                </th>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}

{% endblock %}