{% extends 'base.html' %}


{% block title %} Confirmacao {% endblock %}

{% block main %}

    <h1>Tem certeza que deseja deletar o cliente {{ person.first_name }} {{ person.last_name }} </h1>


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-warning" href="{% url 'person_list' %}" role="button">Cancelar</a>
    </form>



{% endblock %}


{% block footer %}
    {% include 'footer.html' with minha_var="Meu texto teste" %}
{% endblock %}
