<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>ERROR 502</title>
	<link href="http://192.168.3.10:8000/static/error/error_502.css" rel="stylesheet"/>
	
</head>
<body>
 
    <div class="wrapper">
        <div class="box">
        <h1>502</h1>
        <p>Desculpe, mais o servidor está com problemas no momento.</p>
        <p>&#58;&#40;</p>
        <p><a href="#">Bad Gateway</a></p>
        </div>
    </div>
 
</body>
</html>
